<div class="container-panel">	
	<div class="content">
		<div id="polygons" class="transitable">
			<div class="panel-section blue">
				<p class="title"><%= t('app.sections.map.left_menu.title') %></p>
				<p class="icon-section" data-toggle="tooltip" data-placement="top" title="<%= t('app.sections.map.left_menu.title') %>">
					<%= link_to image_tag('polygons.png', :size => '45x45'), 'javascript:void(0);', :class => 'toggler', :id => 'polygons-t' %>
				</p>
			</div>

			<div class="panel">
				<%= render 'welcome/radius' %>
	
				<div id="stats-panel" class="agebs hidden">
					<div class="separator"></div>
					<%= render 'welcome/agebs' %>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="bottom-area">
	<div class="container">
		<div class="controls controls-generic toggable-panel">
			<br>
			<p class="icon-section" data-toggle="tooltip" data-placement="top" title="<%= t('app.sections.map.bottom_menu.titles.menu') %>">
				<%= link_to image_tag('menu.png', :size => '45x45'), 'javascript:void(0);', :class => 'toggler', :id => 'map-t' %>
			</p>
			<p class="title"><%= t('app.sections.map.bottom_menu.titles.menu') %></p>
		</div>
		<div class="panel-mini toggable-panel">
			<ul>
				<li><%= link_to t('app.sections.map.bottom_menu.options.satellite'), 'javascript:void(0);', :class => 'show-satellite' %></li>
				<li class="hidden"><%= link_to t('app.sections.map.bottom_menu.options.plain'), 'javascript:void(0);', :class => 'show-carto' %></li>
				
				<li class="hidden polygons-enabler-off"><%= link_to t('app.sections.map.bottom_menu.options.radius.hide'), 'javascript:void(0);', :class => 'polygons-off' %></li>
				<li class="hidden polygons-enabler-on"><%= link_to t('app.sections.map.bottom_menu.options.radius.show'), 'javascript:void(0);', :class => 'polygons-on' %></li>				
			</ul>
		</div>
		<div class="controls toggable-panel">
			<br>
			<p class="icon-section" data-toggle="tooltip" data-placement="top" title="<%= t('app.sections.map.bottom_menu.titles.network') %>">
				<%= link_to image_tag('network.png', :size => '45x45'), 'javascript:void(0);', :class => 'toggler', :id => 'map-t' %>
			</p>
			<p class="title"><%= t('app.sections.map.bottom_menu.titles.network') %></p>
		</div>
		<div class="panel toggable-panel">
			<%= render 'welcome/network' %>
		</div>
		<div class="control-minimizer">
			<%= link_to image_tag('minimize.png', :size => '35x35'), 'javascript:void(0);', :id => 'minimizer' %>
			<%= link_to image_tag('maximize.png', :size => '35x35'), 'javascript:void(0);', :class => 'hidden', :id => 'maximizer' %>
		</div>
	</div>
</div>
<div id='map-basic'></div>