<ul class="transports-list">
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="STC Metro">
		<p><a href="javascript:void(0);" id="metro"><span class="pic"><%= image_tag('metro.png', :size => '60x60') %></span></a></p>
	</li>
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Metrobús">
		<p><a href="javascript:void(0);" id="metrobus"><span class="pic"><%= image_tag('metrobus.png', :size => '60x60') %></span></a></p>
	</li>
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Transportes Eléctricos">
		<p><a href="javascript:void(0);" id="transporteselectricos"><span class="pic"><%= image_tag('transporteselectricos.png', :size => '60x60') %></span></a></p>
	</li>
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Tren Suburbano">
		<p><a href="javascript:void(0);" id="trensuburbano"><span class="pic"><%= image_tag('suburbano.jpg', :size => '60x60') %></span></a></p>
	</li>
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Mexibus">
		<p><a href="javascript:void(0);" id="mexibus"><span class="pic"><%= image_tag('mexi-bus.png', :size => '60x60') %></span></a></p>
	</li>
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Propuestas del ITDP">
		<p><a href="javascript:void(0);" id="itdp"><span class="pic"><%= image_tag('ITDP-small.png', :size => '60x60') %></span></a></p>
	</li>
</ul>
