<div id="network-panel" class="layers-list panel">
	<div class="title"><p>Redes</p></div>
	
	<div class="content">
		<div class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="STC Metro">
			<p><a href="#/" id="metro"><span class="pic"><%= image_tag('metro.png') %></span></a></p>
		</div>
		<div class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Metrobús">
			<p><a href="#/" id="metrobus"><span class="pic"><%= image_tag('metrobus.png') %></span></a></p>
		</div>
		<div class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Transportes Eléctricos">
			<p><a href="#/" id="transporteselectricos"><span class="pic"><%= image_tag('trenligero.jpg') %></span></a></p>
		</div>
		<div class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Tren Suburbano">
			<p><a href="#/" id="trensuburbano"><span class="pic"><%= image_tag('trensuburbano.gif') %></span></a></p>
		</div>
		<div class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Mexibus">
			<p><a href="#/" id="mexibus"><span class="pic"><%= image_tag('mexi-bus.jpg') %></span></a></p>
		</div>
		<div class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Propuestas del ITDP">
			<p><a href="#/" id="itdp"><span class="pic"><%= image_tag('ITDP-small.png') %></span></a></p>
		</div>
	</div>
</div>