<ul class="transports-list">
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="STC Metro">
		<p><a href="#/" id="metro"><span class="pic"><%= image_tag('metro.png') %></span></a></p>
	</li>
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Metrobús">
		<p><a href="#/" id="metrobus"><span class="pic"><%= image_tag('metrobus.png') %></span></a></p>
	</li>
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Transportes Eléctricos">
		<p><a href="#/" id="transporteselectricos"><span class="pic"><%= image_tag('trenligero.jpg') %></span></a></p>
	</li>
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Tren Suburbano">
		<p><a href="#/" id="trensuburbano"><span class="pic"><%= image_tag('trensuburbano.gif') %></span></a></p>
	</li>
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Mexibus">
		<p><a href="#/" id="mexibus"><span class="pic"><%= image_tag('mexi-bus.jpg') %></span></a></p>
	</li>
	<li class="transport-layer layer" data-toggle="tooltip" data-placement="top" title="Propuestas del ITDP">
		<p><a href="#/" id="itdp"><span class="pic"><%= image_tag('ITDP-small.png') %></span></a></p>
	</li>
</ul>
