<div id="navbar">
	<ul>
		<li><%= link_to image_tag('ITDP_logo.png'), "http://itdp.mx", :target => "_blank" %></li>
		<li><%= link_to image_tag('uk_embassy_logo.png'), "https://www.gov.uk/government/world/mexico", :target => "_blank" %></li>
	</ul>
</div>
<div class="loading-cover">
	<div class="spinner"></div>
</div>

<div id='map-basic'></div>
<div class="panels left-sided left-panel">
	<div class="panel-togglers">
		<%= link_to image_tag('polygon_button.png'), 'javascript:void(0);', id: 'agebs', :class => 'toggler polygon-layer' %>
		<%= link_to image_tag('statistics_button.png'), 'javascript:void(0);', id: 'radius', :class => 'toggler polygon-layer' %>
	</div>
	<div class="panel-container">
		<%= render 'welcome/radius' %>
		<%= render 'welcome/agebs' %>
	</div>
</div>

<div class="panels right-sided right-panel">
	<div class="panel-togglers contents-to-right">
		<%= link_to image_tag('network_button.png'), 'javascript:void(0);', id: 'network-toggler', :class => 'toggler selected' %>
		<%= link_to image_tag('map_button.png'), 'javascript:void(0);', id: 'map-toggler', :class => 'toggler' %>
	</div>
	
	<%= render 'welcome/network' %>
	<%= render 'welcome/map' %>
</div>