<div class="section main-section" data-anchor="main">
	<div class="background-art"><%= image_tag('map-dot.png', alt: t('attributions.blueprint_icon'), title: t('attributions.blueprint_icon')) %></div>

	<div class="core-image"></div>
	<%= render :partial => 'welcome/menu', :locals => {:selected => { :main => "selected" }} %>
	<div class="scontent">
		<p class="title"><%= t('app.sections.start.title') %></p>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6 col-md-4"><p class="core"><%= t('app.sections.start.core') %></p></div>
				<div class="col-xs-6 col-md-4">
					<p class="intro"><%= t('app.sections.start.intro') %></p>
					<p class="action"><%= link_to t('app.sections.start.action'), root_path.concat('#map') %></p>
				</div>
				<div class="col-xs-6 col-md-4"><%= image_tag('df-logo.png') %></div>
			</div>
		</div>
	</div>
</div>

<div class="section map-section" data-anchor="map">
	<p id="transport-radius" class="hidden"><%= t('app.sections.map.popups.nearby').html_safe %></p>
	<%= render :partial => 'welcome/menu', :locals => {:selected => { :map => "selected" }} %>
	<div class="container">
		<%= render :partial => 'welcome/map_section' %>
	</div>
	<div class="right-positioned">

	</div>
</div>

<div class="section dot-section" data-anchor="dot">
	<%= render :partial => 'welcome/menu', :locals => {:selected => { :dot => "selected" }} %>
	<div class="background-art"><%= image_tag('train-icon.png', alt: t('attributions.train_icon'), title: t('attributions.train_icon')) %></div>

	<div class="scontent">

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<iframe class="youtube-player" type="text/html" width="650" height="450" src="http://www.youtube.com/embed/8IsU0RdgPCw" allowfullscreen frameborder="0">
					</iframe>
				</div>
				<div class="col-xs-12 col-md-4">
					<p class="intro"><%= t('app.sections.dot.intro') %></p>
					<p class="action"><%= link_to t('app.sections.dot.action'), root_path.concat('#map') %></p>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="section about-section" data-anchor="about">
	<%= render :partial => 'welcome/menu', :locals => {:selected => { :about => "selected" }} %>

	<div class="background-art"><%= image_tag('blueprint-icon.png') %></div>

	<div class="scontent">

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-7 col-md-5 supporters">
					<div class="box">
						<h3><%= t('app.sections.about.thanks_to') %></h3>
						<ul class="thanks-to">
							<li><%= link_to image_tag('uk_embassy_logo.png'), nil %></li>
							<li><%= link_to image_tag('ITDP-small.png'), nil %></li>
						</ul>
					</div>

				</div>
				<div class="col-xs-11 col-md-7 developers">
					<div class="box">
						<h3><%= t('app.sections.about.dedication_of') %></h3>
						<ul class="dedication-of">
							<li>
								<div class="person">
									<p class="title">Salvador Medina</p>
									<p class="subtitle"><%= t('app.sections.about.team.coordination') %></p>
								</div>
							</li>
							<li>
								<div class="person">
									<p class="title">Alejandro Cruz</p>
									<p class="subtitle"><%= t('app.sections.about.team.web_development') %></p>
								</div>
							</li>
							<li>
								<div class="person">
									<p class="title">Nely Patlán</p>
									<p class="subtitle"><%= t('app.sections.about.team.data_selection') %></p>
								</div>
							</li>
						</ul>
					</div>
					<div class="box box-downloads">
						<ul>
							<li><%= image_tag('note-icon.png', size: '30x30', alt: t('attributions.note_icon'), title: t('attributions.note_icon')) %>
							<%= link_to t('app.sections.about.methodological_note'), nil %></li>
							<li><%= image_tag('download-icon.png', :size => '30x30') %> <%= link_to t('app.sections.about.data'), nil %></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div class="bar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-24 col-md-12">
					<ul>
						<li><p>Av. México 69 Col. Hipódromo Condesa Del. Cuauhtémoc México DF, C.P. 06100</p></li>
						<li><a href="mailto:mexico@itdp.org" target="_top">mexico@itdp.org</a></li>
						<li class="smaller"><p>+52 (55) 3626-2963  +52 (55) 3626-2964</p></li>
						<li class="social"><%= link_to image_tag('twitter.png', :size => '30x30'), nil %> <%= link_to image_tag('facebook.png', :size => '30x30'), nil %></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
