<div class="container-panel">
	<div class="app-bar">
		<ul>
			<li><%= link_to image_tag('ITDP_logo.png'), "http://itdp.mx", :target => "_blank" %></li>
			<li><%= link_to image_tag('uk_embassy_logo.png'), "https://www.gov.uk/government/world/mexico", :target => "_blank" %></li>
		</ul>
	</div>
	
	<div class="content">
		<div id="polygons" class="transitable">
			<div class="panel-section blue">
				<p class="title">Polígonos Geoestadísticos</p>
				<p class="icon-section" data-toggle="tooltip" data-placement="top" title="Polígonos">
					<%= link_to image_tag('polygons.png', :size => '45x45'), 'javascript:void(0);', :class => 'toggler', :id => 'polygons-t' %>
				</p>
			</div>

			<div class="panel">
				<%= render 'welcome/radius' %>
	
				<div id="stats-panel" class="agebs hidden">
					<div class="separator"></div>
					<%= render 'welcome/agebs' %>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div class="bottom-area">
	<div class="container">
		<div class="controls controls-generic toggable-panel">
			<br>
			<p class="icon-section" data-toggle="tooltip" data-placement="top" title="Menú">
				<%= link_to image_tag('menu.png', :size => '45x45'), 'javascript:void(0);', :class => 'toggler', :id => 'map-t' %>
			</p>
			<p class="title">Menú</p>
		</div>
		<div class="panel-mini toggable-panel">
			<ul>
				<li><%= link_to 'Modo Satélite', 'javascript:void(0);', :class => 'show-satellite' %></li>
				<li class="hidden"><%= link_to 'Modo Cartografía', 'javascript:void(0);', :class => 'show-carto' %></li>
				
				<li class="hidden polygons-enabler-off"><%= link_to 'Ocultar Radios', 'javascript:void(0);', :class => 'polygons-off' %></li>
				<li class="hidden polygons-enabler-on"><%= link_to 'Mostrar Radios', 'javascript:void(0);', :class => 'polygons-on' %></li>
				
				<li class="separator"></li>
				<li><%= link_to 'Acerca de', 'javascript:void(0);' %></li>
				
			</ul>
		</div>
		<div class="controls toggable-panel">
			<br>
			<p class="icon-section" data-toggle="tooltip" data-placement="top" title="Red">
				<%= link_to image_tag('network.png', :size => '45x45'), 'javascript:void(0);', :class => 'toggler', :id => 'map-t' %>
			</p>
			<p class="title">Red</p>
		</div>
		<div class="panel toggable-panel">
			<%= render 'welcome/network' %>
		</div>
		<div class="control-minimizer">
			<%= link_to image_tag('minimize.png', :size => '35x35'), 'javascript:void(0);', :id => 'minimizer' %>
			<%= link_to image_tag('maximize.png', :size => '35x35'), 'javascript:void(0);', :class => 'hidden', :id => 'maximizer' %>
		</div>
	</div>
</div>

<div class="loading-cover">
	<div class="spinner"></div>
</div>

<div id='map-basic'></div>