<div class="container-panel">
	<div class="app-bar">
		<ul>
			<li><%= link_to image_tag('ITDP_logo.png'), "http://itdp.mx", :target => "_blank" %></li>
			<li><%= link_to image_tag('uk_embassy_logo.png'), "https://www.gov.uk/government/world/mexico", :target => "_blank" %></li>
		</ul>
	</div>
	
	<div class="content">
		<div id="polygons" class="transitable">
			<div class="panel-section blue">
				<p class="title">Polígonos Geoestadísticos</p>
				<p class="icon-section" data-toggle="tooltip" data-placement="top" title="Polígonos">
					<%= link_to image_tag('polygons.png', :size => '45x45'), 'javascript:void(0);', :class => 'toggler', :id => 'polygons-t' %>
				</p>
			</div>

			<div class="panel">
				<%= render 'welcome/radius' %>
	
				<div id="stats-panel" class="agebs hidden">
					<div class="separator"></div>
					<%= render 'welcome/agebs' %>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div class="bottom-area">
	<div class="container">
		<div class="controls">
			<br>
			<p class="icon-section" data-toggle="tooltip" data-placement="top" title="Red">
				<%= link_to image_tag('map.png', :size => '45x45'), 'javascript:void(0);', :class => 'toggler', :id => 'map-t' %>
			</p>
			<p class="title">Red</p>
		</div>
		<div class="panel">
			<%= render 'welcome/network' %>
		</div>
	</div>
</div>

<div class="loading-cover">
	<div class="spinner"></div>
</div>

<div id='map-basic'></div>